%td.hoffset5
  %table.main-bar-content
    %thead
    %tbody
      %tr
        %td.col-xs-12
          -unless !user_signed_in? || @liked
            =button_to "/comment_likes/?comment_id=#{@comment.id}",
                      method: :create,
                      class: ['button-as-no-button',],
                      form_class: ['inline-arrow'],
                      id: "comment_#{@comment.id}",
                      remote: true do
              %div.glyphicon.glyphicon-triangle-top.inline-arrow.button-as-no-button
          %div.sub-text.text-left.near_like.hoffset3
            =render 'comments/comment_info', comment: @comment
          %div.main-text.no-underline.hoffset3
            = @comment.text
          .voffset4.main-bar-content
            .row-fluid.hoffset3
              =form_for @new_comment do |f|
                =f.hidden_field :parent_id ,value: @comment.id
                =f.hidden_field :user_id, value: current_user.try(:id)
                =f.hidden_field :story_id, value: @comment.story_id
                =f.text_area :text, size: "49x4"
                .voffset2
                  =f.submit t('comment.add')
            %table
              %thead
              %tbody
                %tr
                  %td
                    =render 'comments/comments_list', comments: @comments
