body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-top: 10px;
  margin-right: 150px;
  margin-bottom: 20px;
  margin-left: 150px;
}


p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000000;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.main-bar{
  background-color: #09ff00;
  width: 100%;

}

.main-bar-content{
  background-color: #f4f4f4;
  width: 100%;
}
.main-text{
  font-size: 14px;
  color: #000000;
}
.sub-text a:link{
  font-size: 10px;
  color: #585858;
}

.no-underline a:hover{
    text-decoration: none;
    color: #000000;
}

.auth-button .btn{
  background-color: #d4d4d4;
  width: 150px;
  height: 15px;
  font-size: 10px;
  color: #585858;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.hoffset  { margin-left: 2px; }
.hoffset1 { margin-left: 5px; }
.hoffset2 { margin-left: 10px; }
.hoffset3 { margin-left: 15px; }
.hoffset4 { margin-left: 30px; }
.hoffset5 { margin-left: 40px; }


.inline-arrow{
  float:left!important;
}

.button-as-no-button {
  background:none!important;
  border:none;
  padding:0!important;
  color: #000000;
  cursor:pointer;
}
