!!! 5
%html(lang="es")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    = csrf_meta_tags
    %link{href: "//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag 'application', media: "all"
    = yield(:page_stylesheet) if content_for?(:page_stylesheet)
    = render 'layouts/nav_bar'

=yield

=javascript_include_tag 'application'

=yield(:page_javascript) if content_for?(:page_javascript)
